<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.post.trade.dao.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.trade.entity.OrderInfo">
    <constructor>
      <idArg column="order_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="merccode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ordernum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="transamt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="biztp" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ordercount" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="channel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="paytype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mercdttm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="transstatus" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tradetype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobno" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="acctid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accttype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mercdate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="extliquidate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="actualtransamt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="transsqe" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mercustid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="refundamt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dctamt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="oriordernum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="oriactualtransamt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="respcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="transdate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="merdctamt" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_id, merccode, ordernum, transamt, biztp, ordercount, channel, paytype, mercdttm, 
    transstatus, remark1, remark2, tradetype, mobno, acctid, accttype, mercdate, extliquidate, 
    actualtransamt, transsqe, mercustid, refundamt, dctamt, oriordernum, oriactualtransamt, 
    respcode, transdate, merdctamt
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.trade.entity.OrderInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'ture' as QUERYID,
    <include refid="Base_Column_List" />
    from cd_order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cd_order_info
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cd_order_info
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.trade.entity.OrderInfo">
    insert into cd_order_info (order_id, merccode, ordernum, 
      transamt, biztp, ordercount, 
      channel, paytype, mercdttm, 
      transstatus, remark1, remark2, 
      tradetype, mobno, acctid, 
      accttype, mercdate, extliquidate, 
      actualtransamt, transsqe, mercustid, 
      refundamt, dctamt, oriordernum, 
      oriactualtransamt, respcode, transdate, 
      merdctamt)
    values (#{orderId,jdbcType=BIGINT}, #{merccode,jdbcType=VARCHAR}, #{ordernum,jdbcType=VARCHAR}, 
      #{transamt,jdbcType=VARCHAR}, #{biztp,jdbcType=VARCHAR}, #{ordercount,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{paytype,jdbcType=VARCHAR}, #{mercdttm,jdbcType=VARCHAR}, 
      #{transstatus,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{tradetype,jdbcType=VARCHAR}, #{mobno,jdbcType=VARCHAR}, #{acctid,jdbcType=VARCHAR}, 
      #{accttype,jdbcType=VARCHAR}, #{mercdate,jdbcType=VARCHAR}, #{extliquidate,jdbcType=VARCHAR}, 
      #{actualtransamt,jdbcType=VARCHAR}, #{transsqe,jdbcType=VARCHAR}, #{mercustid,jdbcType=VARCHAR}, 
      #{refundamt,jdbcType=VARCHAR}, #{dctamt,jdbcType=VARCHAR}, #{oriordernum,jdbcType=VARCHAR}, 
      #{oriactualtransamt,jdbcType=VARCHAR}, #{respcode,jdbcType=VARCHAR}, #{transdate,jdbcType=VARCHAR}, 
      #{merdctamt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.trade.entity.OrderInfo">
    insert into cd_order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="merccode != null">
        merccode,
      </if>
      <if test="ordernum != null">
        ordernum,
      </if>
      <if test="transamt != null">
        transamt,
      </if>
      <if test="biztp != null">
        biztp,
      </if>
      <if test="ordercount != null">
        ordercount,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="paytype != null">
        paytype,
      </if>
      <if test="mercdttm != null">
        mercdttm,
      </if>
      <if test="transstatus != null">
        transstatus,
      </if>
      <if test="remark1 != null">
        remark1,
      </if>
      <if test="remark2 != null">
        remark2,
      </if>
      <if test="tradetype != null">
        tradetype,
      </if>
      <if test="mobno != null">
        mobno,
      </if>
      <if test="acctid != null">
        acctid,
      </if>
      <if test="accttype != null">
        accttype,
      </if>
      <if test="mercdate != null">
        mercdate,
      </if>
      <if test="extliquidate != null">
        extliquidate,
      </if>
      <if test="actualtransamt != null">
        actualtransamt,
      </if>
      <if test="transsqe != null">
        transsqe,
      </if>
      <if test="mercustid != null">
        mercustid,
      </if>
      <if test="refundamt != null">
        refundamt,
      </if>
      <if test="dctamt != null">
        dctamt,
      </if>
      <if test="oriordernum != null">
        oriordernum,
      </if>
      <if test="oriactualtransamt != null">
        oriactualtransamt,
      </if>
      <if test="respcode != null">
        respcode,
      </if>
      <if test="transdate != null">
        transdate,
      </if>
      <if test="merdctamt != null">
        merdctamt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="merccode != null">
        #{merccode,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="transamt != null">
        #{transamt,jdbcType=VARCHAR},
      </if>
      <if test="biztp != null">
        #{biztp,jdbcType=VARCHAR},
      </if>
      <if test="ordercount != null">
        #{ordercount,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="mercdttm != null">
        #{mercdttm,jdbcType=VARCHAR},
      </if>
      <if test="transstatus != null">
        #{transstatus,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="tradetype != null">
        #{tradetype,jdbcType=VARCHAR},
      </if>
      <if test="mobno != null">
        #{mobno,jdbcType=VARCHAR},
      </if>
      <if test="acctid != null">
        #{acctid,jdbcType=VARCHAR},
      </if>
      <if test="accttype != null">
        #{accttype,jdbcType=VARCHAR},
      </if>
      <if test="mercdate != null">
        #{mercdate,jdbcType=VARCHAR},
      </if>
      <if test="extliquidate != null">
        #{extliquidate,jdbcType=VARCHAR},
      </if>
      <if test="actualtransamt != null">
        #{actualtransamt,jdbcType=VARCHAR},
      </if>
      <if test="transsqe != null">
        #{transsqe,jdbcType=VARCHAR},
      </if>
      <if test="mercustid != null">
        #{mercustid,jdbcType=VARCHAR},
      </if>
      <if test="refundamt != null">
        #{refundamt,jdbcType=VARCHAR},
      </if>
      <if test="dctamt != null">
        #{dctamt,jdbcType=VARCHAR},
      </if>
      <if test="oriordernum != null">
        #{oriordernum,jdbcType=VARCHAR},
      </if>
      <if test="oriactualtransamt != null">
        #{oriactualtransamt,jdbcType=VARCHAR},
      </if>
      <if test="respcode != null">
        #{respcode,jdbcType=VARCHAR},
      </if>
      <if test="transdate != null">
        #{transdate,jdbcType=VARCHAR},
      </if>
      <if test="merdctamt != null">
        #{merdctamt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.trade.entity.OrderInfoExample" resultType="java.lang.Long">
    select count(*) from cd_order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.trade.entity.OrderInfo">
    update cd_order_info
    <set>
      <if test="merccode != null">
        merccode = #{merccode,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        ordernum = #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="transamt != null">
        transamt = #{transamt,jdbcType=VARCHAR},
      </if>
      <if test="biztp != null">
        biztp = #{biztp,jdbcType=VARCHAR},
      </if>
      <if test="ordercount != null">
        ordercount = #{ordercount,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        paytype = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="mercdttm != null">
        mercdttm = #{mercdttm,jdbcType=VARCHAR},
      </if>
      <if test="transstatus != null">
        transstatus = #{transstatus,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="tradetype != null">
        tradetype = #{tradetype,jdbcType=VARCHAR},
      </if>
      <if test="mobno != null">
        mobno = #{mobno,jdbcType=VARCHAR},
      </if>
      <if test="acctid != null">
        acctid = #{acctid,jdbcType=VARCHAR},
      </if>
      <if test="accttype != null">
        accttype = #{accttype,jdbcType=VARCHAR},
      </if>
      <if test="mercdate != null">
        mercdate = #{mercdate,jdbcType=VARCHAR},
      </if>
      <if test="extliquidate != null">
        extliquidate = #{extliquidate,jdbcType=VARCHAR},
      </if>
      <if test="actualtransamt != null">
        actualtransamt = #{actualtransamt,jdbcType=VARCHAR},
      </if>
      <if test="transsqe != null">
        transsqe = #{transsqe,jdbcType=VARCHAR},
      </if>
      <if test="mercustid != null">
        mercustid = #{mercustid,jdbcType=VARCHAR},
      </if>
      <if test="refundamt != null">
        refundamt = #{refundamt,jdbcType=VARCHAR},
      </if>
      <if test="dctamt != null">
        dctamt = #{dctamt,jdbcType=VARCHAR},
      </if>
      <if test="oriordernum != null">
        oriordernum = #{oriordernum,jdbcType=VARCHAR},
      </if>
      <if test="oriactualtransamt != null">
        oriactualtransamt = #{oriactualtransamt,jdbcType=VARCHAR},
      </if>
      <if test="respcode != null">
        respcode = #{respcode,jdbcType=VARCHAR},
      </if>
      <if test="transdate != null">
        transdate = #{transdate,jdbcType=VARCHAR},
      </if>
      <if test="merdctamt != null">
        merdctamt = #{merdctamt,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.trade.entity.OrderInfo">
    update cd_order_info
    set merccode = #{merccode,jdbcType=VARCHAR},
      ordernum = #{ordernum,jdbcType=VARCHAR},
      transamt = #{transamt,jdbcType=VARCHAR},
      biztp = #{biztp,jdbcType=VARCHAR},
      ordercount = #{ordercount,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      paytype = #{paytype,jdbcType=VARCHAR},
      mercdttm = #{mercdttm,jdbcType=VARCHAR},
      transstatus = #{transstatus,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      tradetype = #{tradetype,jdbcType=VARCHAR},
      mobno = #{mobno,jdbcType=VARCHAR},
      acctid = #{acctid,jdbcType=VARCHAR},
      accttype = #{accttype,jdbcType=VARCHAR},
      mercdate = #{mercdate,jdbcType=VARCHAR},
      extliquidate = #{extliquidate,jdbcType=VARCHAR},
      actualtransamt = #{actualtransamt,jdbcType=VARCHAR},
      transsqe = #{transsqe,jdbcType=VARCHAR},
      mercustid = #{mercustid,jdbcType=VARCHAR},
      refundamt = #{refundamt,jdbcType=VARCHAR},
      dctamt = #{dctamt,jdbcType=VARCHAR},
      oriordernum = #{oriordernum,jdbcType=VARCHAR},
      oriactualtransamt = #{oriactualtransamt,jdbcType=VARCHAR},
      respcode = #{respcode,jdbcType=VARCHAR},
      transdate = #{transdate,jdbcType=VARCHAR},
      merdctamt = #{merdctamt,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>